
@media (min-width:200px) {
  .videoBox {
    text-align: center;
    width: 90%;
    min-height: 200px;
    float: left;
    margin: 5%;
    overflow: hidden;
    padding: 5%;
  }
  .title {
    cursor: pointer;
  }
  .ratings {
    padding: 0.3em 0;
  }
}

@media (min-width:540px) {
  .videoBox {
    margin: 2%;
    width: 45%;
    padding: 2%;
    text-align: left;
    height: 280px;
  }
}

@media (min-width:800px) {
  .videoBox {
    width: 29%;
  }
}
