/*@import "/node_modules/react-html5video/dist/ReactHtml5Video.css";*/
.video {

}

.cover {
  width: 100%;
  min-height: 200px;
  background: grey;
  color: #fff;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: inline-block;
  /*min-height: 4em;*/
}

.playicon {
  position: relative;
  /*top: 50%;*/
  transform: translateY(60%);
}

.videoplayer {
  width:100%;
}

@media (min-width:540px) {
  .cover {
    min-height: 130px;
  }
  .videoplayer{
    min-height: 130px;
  }
  .playicon {
    transform: translateY(30%);
  }
}
